<article class="snippet">
    <div  class="articles__list">
        <img src="{{misc.data.image}}" alt="{{misc.data.imageAlt}}" class="snippet_image">
        <div class="snippet_tmb">
            <h3 class="snippet_title">{{ misc.data.title }}</h3>
            <p class="snippet_meta">By <span>{{misc.data.author}}</span> on <span>{{misc.date | postDate}}</span></p>
            <p class="snippet_body">{{misc.data.description}}</p>
        </div>
        <a href="{{misc.url}}" class="myButton2">Continue Reading</a>
    </div>
</article>