<article class="snippet">
    <div  class="articles__list">
        <img src="{{link.data.image}}" alt="{{link.data.imageAlt}}" class="snippet_image">
        <div class="snippet_tmb">
            <h3 class="snippet_title">{{ link.data.title }}</h3>
            <p class="snippet_meta">By <span>{{link.data.author}}</span> on <span>{{link.date | postDate}}</span></p>
            <p class="snippet_body">{{link.data.description}}</p>
        </div>
        <a href="{{link.url}}" class="myButton2">Continue Reading</a>
    </div>
</article>