<article class="snippet">
    <div  class="articles__list">
        <img src="{{twitter.data.image}}" alt="{{twitter.data.imageAlt}}" class="snippet_image">
        <div class="snippet_tmb">
            <h3 class="snippet_title">{{ twitter.data.title }}</h3>
            <p class="snippet_meta">By <span>{{twitter.data.author}}</span> on <span>{{twitter.date | postDate}}</span></p>
            <p class="snippet_body">{{twitter.data.description}}</p>
        </div>
        <a href="{{twitter.url}}" class="myButton2">Continue Reading</a>
    </div>
</article>