<article class="snippet">
    <div  class="articles__list">
        <img src="{{twitch.data.image}}" alt="{{twitch.data.imageAlt}}" class="snippet_image">
        <div class="snippet_tmb">
            <h3 class="snippet_title">{{ twitch.data.title }}</h3>
            <p class="snippet_meta">By <span>{{twitch.data.author}}</span> on <span>{{twitch.date | postDate}}</span></p>
            <p class="snippet_body">{{twitch.data.description}}</p>
        </div>
        <a href="{{twitch.url}}" class="myButton2">Continue Reading</a>
    </div>
</article>