<article class="snippet">
    <div  class="articles__list">
        <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="snippet_image">
        <div class="snippet_tmb">
            <h3 class="snippet_title">{{ post.data.title }}</h3>
            <p class="snippet_meta">By <span>{{post.data.author}}</span> on <span>{{post.date | postDate}}</span></p>
            <p class="snipper_body">{{post.data.description}}</p>
        </div>
        <a href="{{post.url}}" class="myButton2">Continue Reading</a>
    </div>
</article>