<article class="snippet">
    <div  class="articles__list">
        <img src="{{ig.data.image}}" alt="{{ig.data.imageAlt}}" class="snippet_image">
        <div class="snippet_tmb">
            <h3 class="snippet_title">{{ ig.data.title }}</h3>
            <p class="snippet_meta">By <span>{{ig.data.author}}</span> on <span>{{ig.date | postDate}}</span></p>
            <p class="snippet_body">{{ig.data.description}}</p>
        </div>
        <a href="{{ig.url}}" class="myButton2">Continue Reading</a>
    </div>
</article>