<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-7311583434347173">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7311583434347173"
     crossorigin="anonymous"></script>
    <script>(function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('ofleafeona.com',6760083,document.createElement('script'))</script>
    
    
</head>
<body>
    
    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'blogsign.njk' %}
    {% include 'footer.njk' %}

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

</body>
</html>