<section class="socialsearcher">
    <a href="https://www.social-searcher.com/?ref=93b10287155d4dc68cb82625accd840a" target="_blank">
        <img style="position: absolute; left: auto; transform: translateX(-200%); display: flex;" src="https://github.com/EVLTrendy/blogevlpics/blob/main/Add%20a%20subheading.png?raw=true" alt="Description of the image">
    </a>
</section>