<section class="socialsearcher">
    <a href="https://www.social-searcher.com/?ref=93b10287155d4dc68cb82625accd840a" target="_blank">
        <img src="https://github.com/EVLTrendy/blogevlpics/blob/main/Add%20a%20subheading.png?raw=true" alt="Description of the image">
    </a>
</section>
<section class="footagecrate">
    <a href="https://productioncrate.partnerlinks.io/zvots6bvhca3" target="_blank">
        <img src="https://github.com/EVLTrendy/blogevlpics/blob/main/FootageCrate.png?raw=true" alt="">
    </a>
</section> 