<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ metadata.url }}/#website",
      "url": "{{ metadata.url }}",
      "name": "{{ metadata.title }}",
      "description": "{{ metadata.description }}",
      "publisher": {
        "@id": "{{ metadata.url }}/#organization"
      },
      "inLanguage": "en-US"
    },
    {
      "@type": "Organization",
      "@id": "{{ metadata.url }}/#organization",
      "name": "EvolvedLotus",
      "url": "{{ metadata.url }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ metadata.url }}/assets/logo-main.png",
        "width": 512,
        "height": 512
      },
      "sameAs": [
        "https://twitter.com/evolvedlotus",
        "https://facebook.com/evolvedlotus"
      ]
    },
    {
      "@type": "BreadcrumbList",
      "@id": "{{ metadata.url }}{{ page.url }}/#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@type": "WebPage",
            "@id": "{{ metadata.url }}/",
            "url": "{{ metadata.url }}/",
            "name": "Home"
          }
        }
        {% if layout == 'post' or og_type == 'article' %}
        ,
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@type": "WebPage",
            "@id": "{{ metadata.url }}/blog/",
            "url": "{{ metadata.url }}/blog/",
            "name": "Blog"
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@type": "WebPage",
            "@id": "{{ metadata.url }}{{ page.url }}",
            "url": "{{ metadata.url }}{{ page.url }}",
            "name": "{{ title }}"
          }
        }
        {% endif %}
      ]
    }
    {% if layout == 'post' or og_type == 'article' or schema_type == 'Article' %}
    ,
    {
      "@type": "Article",
      "@id": "{{ metadata.url }}{{ page.url }}/#article",
      "isPartOf": {
        "@id": "{{ metadata.url }}{{ page.url }}/#webpage"
      },
      "author": {
        "@type": "Person",
        "name": "{{ author if author else metadata.author.name }}"
      },
      "headline": "{{ title }}",
      "datePublished": "{{ date | isoDate }}",
      "dateModified": "{{ (lastModified if lastModified else date) | isoDate }}",
      "mainEntityOfPage": {
        "@id": "{{ metadata.url }}{{ page.url }}"
      },
      "publisher": {
        "@id": "{{ metadata.url }}/#organization"
      },
      "image": {
        "@type": "ImageObject",
        "url": "{{ metadata.url }}{{ ogImagePath if ogImagePath else (metadata.image if metadata.image else '/assets/blog/default-og.png') }}"
      },
      "description": "{{ description }}",
      "articleSection": "{{ article_section if article_section else 'Technology' }}",
      "inLanguage": "en-US"
    }
    {% endif %}
  ]
}
</script>
