---
permalink: /api/media.json
eleventyExcludeFromCollections: true
---
{
  "media": [
    {%- for file in mediaFiles -%}
    {
      "name": {{ file.name | dump | safe }},
      "path": {{ file.path | dump | safe }},
      "size": {{ file.size }},
      "type": {{ file.type | dump | safe }},
      "extension": {{ file.extension | dump | safe }},
      "modified": {{ file.modified | dump | safe }}
    }{% if not loop.last %},{% endif %}
    {%- endfor -%}
  ],
  "totalFiles": {{ mediaFiles | length }},
  "note": "Media files are dynamically scanned from /assets/ directory"
}
