---
title: Home page
layout: 'base.njk'
---

<div class="maindiv">
  <div class="spacediv20"></div>
  <div class="maingroupdiv">
    <div class="mainl">
      <div class="maintxtcon">
        <div class="maintxth">Discover EvolvedLotus</div>
        <div class="maintxts">Unveiling Resources, Insights, and Creative Journeys</div>
        <a href="/blog" class="myButton">Read All</a>
      </div>
    </div>
    <div class="mainr">
      <div>
        <img src="https://picsum.photos/200" width="400px" height="400px" alt="">
      </div>
    </div>
  </div>
</div>
<div class="featurediv">
  <div class="ftbacksplash">
    <div class="fttop">
      <div class="spacediv21"></div>
      <div class="fttoptxth">Featured articles</div>
      <div class="fttoptxts">Explore Our Curated Selection: Engaging Featured Articles Worth Your Attention</div>
    </div>
    <div class="ftbot">
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </div>
    
  </div>
</div>