div {
  border: solid black 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Nav */

.SVGLogo {
  height: 50px;
  width: 50px;
}

.navcontainer {
  display: flex;
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
}

.leftnav,
.rightnav {
  display: flex;
  width: 50%;
}

.rightnav {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navtxtgroup {
  display: flex;
  margin-right: -90px;

}

.navdivtxt {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 50px;

}

.navtxt {
  font-size: 24px;

  border: solid black 1px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;

  display: inline-block;
  font-size: 24px;
  font-family: 'tti';
  align-content: center;
  justify-content: center;
  border: solid black 2px;
  border-radius: 10px;
}

/* main */

.spacediv20{
  height: 150px;
}

.maindiv{
  height: 600px;
}

.mainl,
.mainr {
  display: flex;
  width: 50%;

  align-items: center;
  text-align: center;
  justify-content: center;
}

.maingroupdiv{

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.maintxtcon{
  margin-left: 20px;
}

.maintxth{
  font-family: 'playfair';
  font-size: 60px;
}
.maintxts{
  font-family: 'SvelteTrial-Regular';
  font-size: 20px;
}

/* Feature */

.spacediv21{
  height: 50px;
}

.featurediv{
  height: 800px;
  background-color: #d3d3d3ad;
}

.fttop{
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.ftbot{
  height: 600px;
}

.fttoptxth{
  font-size: 45px;
  font-family: 'playfair';

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.fttoptxts{
  font-family: 'SvelteTrial-Regular';
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

